<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Table CSS -->
    <link rel="stylesheet" href="../../CSS/table.css">

    <!-- javascript for table page -->
    <script th:src="@{/js/table.js}" src="/js/table.js"></script>

    <title>Grass Overview Table</title>
</head>
<!--navigation bar-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/homepage" th:utext="#{homepage.msg}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/submit.page" th:utext="#{submit.msg}"></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/overview.map" th:utext="#{map.msg}"></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/overview.table" th:utext="#{table.msg}"></a>
        </li>
    </ul>
</nav>
<body>

<!--header-->
<header class="bg-success text-white">
    <div class="container text-center">
        <h1>Overview table</h1>
        <p class="lead">Table with all submitted data</p>
    </div>
</header>

<!--input searchbar-->
<input type="text" id="input" onkeyup="myFunction()" placeholder="Search for date..">
<div id="table-scroll">
    <table id="table" class="table">
        <thead class="thead-dark">
        <tr>
            <!-- Table columns -->
            <th scope="col">Date</th>
            <th scope="col">Name</th>
            <th scope="col">Time</th>
            <th scope="col">Amount in tons</th>
            <th scope="col">Delivered at</th>
            <th scope="col">Cost &euro;</th>
        </tr>
        </thead>
        <tbody>
        <!-- Table rows -->
        <tr th:each="instance:${grass_instances}">
            <td th:text="${instance.getDate()}"></td>
            <td th:text="${instance.getFirstName()}"></td>
            <td th:text="${instance.getStartTime()} + ' - ' +${instance.getEndTime()}"></td>
            <td th:text="${instance.getAmountOfGrass()}"></td>
            <td th:text="${instance.getPlaceDelivery()}"></td>
            <td th:text="${instance.getCost()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<!--insert footer-->
<footer class="fixed-bottom" th:insert="~{template :: footer}"></footer>
</body>
</html>
