/*padding of header*/
header {
    padding: 110px 0 100px;
}

/*padding of section*/
section {
    padding: 50px 0;
}

/*image resizing*/
.image {
    height: 200px;
    width: 312px;
}

/*image resizing*/
.image2 {
    height: 200px;
    width: 200px;
}