/*padding for header*/
header {
    padding: 30px 0 30px;
}

/*padding for section*/
section {
    padding: 130px 0 100px;
}

/*design for the search bar*/
#input {
    background-image: url('/data/search2.png');
    background-size: 27px 27px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
}

/*design for the table*/
#table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#table th, #table td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#table tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd;
}

#table tr.header, #table tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#table-scroll {
    margin-bottom: 0;
    overflow: auto;
}