html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

/*ArcGis viewdiv map*/
#viewDiv {
    padding: 0;
    height: 100%;
    width: 100%;
}

/*Center the form*/
.center_div {
    margin: 0 auto;
    margin-top: 1%;
    width: 65%
}

/*Center the map*/
.mapform {
    margin: 0 auto;
    height: 300px;
    width: 65%;
}

/*submit button*/
.submit {
    margin: 0 auto;
    height: 40px;
    width: 65%;
}

/*main form*/
.form_1 {
    margin: 0 auto;
    width: 65%;
}